<!DOCTYPE html>
<html lang="en">
<head>
	<title>Farmhouse Page</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
    <link href="css/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
	<div class="wrapper row0">
		<div id="topnav" class="hoc clear">
			<div class="fl_left">
				<ul class="nospace inline pushright">
					<li><i class="fa fa-home"></i><a href="/">Home</a></li>
					<li><i class="fa fa-sign-in"></i> <a href="/login">Login</a></li>
					<li><i class="fa fa-user"></i> <a href="/register">Register</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="wrapper row1">
		<header id="header" class="hoc clear">
			<div id="logo" class="fl_left">
				<h1><a href="/">Farmhouse</a></h1>
			</div>
			<nav id="mainav" class="fl_right">
				<ul class="clear">
					<li class="active"><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/farms">Farms</a></li>
				</ul>
			</nav>
			<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
		</header>
	</div>
	<div class="container">
		<%- messages('message', locals) %>
		<h1>Register page</h1>
		<div class="row">
			<form method="post" action="/investor/register">
				<div class="form-group">
					<label for="firstname">First Name:</label>
					<input class="form-control" type="text" name="firstname" placeholder="Enter First Name" required>
				</div>
				<div class="form-group">
					<label for="lastname">Last Name:</label>
					<input class="form-control" type="text" name="lastname" placeholder="Enter Last Name" required>
				</div>
				<div class="form-group">
					<label for="username">Username:</label>
					<input class="form-control" type="text" name="username" placeholder="Enter Username" required>
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input class="form-control" type="email" name="email" placeholder="Enter Email" required>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input class="form-control" type="password" name="password" placeholder="Enter Password" required>
				</div>
				<div class="form-group">
					<label for="password2">Re-enter Password</label>
					<input class="form-control" type="password" name="password2" placeholder="Confirm Password">
				</div>
				<button type="submit" class="btn btn-success">Submit</button>
			</form>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://unpkg.com/popper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="js/skel.min.js"></script>
  	<script src="js/util.js"></script>
  	<script src="js/main.js"></script>
</body>
</html>